body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

cite > a {
    display: inline-block;
    width: 50px;
    height: 20px;
}

ul {
    margin: 0px;
}



body > header {
    background-color: aqua;
}

body > footer {
    background-color: aqua;
}